<!-- accounts/templates/register.html -->

{% extends 'auth.html' %}

{% block content %}

    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="username">Usuário</label>
    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter username" name="username" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}