.btn-group-primary {
  background-color: $quaternary-color;
  color: $secondary-color;
}

.btn-group-secondary {
  background-color: $secondary-color;
  color: $quaternary-color;
}

.btn-group-danger {
  background-color: #b43a3a;
  color: $secondary-color;
}

.btn-group-primary i {
  margin-right: 8px;
  padding: 0;
}

.btn-group-secondary, .btn-group-danger, .btn-group-primary {
  min-width: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 13px;
  border: none;
}


.btn-group-secondary:hover, .btn-group-danger:hover, .btn-group-primary:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

