.btn-group-primary {
  background-color: $quaternary-color;
  color: $secondary-color;
}

.btn-group-secondary {
  background-color: $secondary-color;
  color: $quaternary-color;
}

.btn-group-danger {
  background-color: #b43a3a;
  color: $secondary-color;
}

.btn-group-secondary i, .btn-group-danger i, .btn-group-primary i {
  margin: 0 8px 0 0;
}

.btn-group-secondary, .btn-group-danger, .btn-group-primary {
  min-width: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;
  border-radius: 5px;
  font-size: 13px;
  border: none;
}