//static/scss/components/_table.scss

table, th, td {
    border-collapse: collapse;
    padding: 0.6rem;
    text-align: left;
    overflow: hidden;
}

td a {
    color: #212529;
    text-decoration: underline;
    text-underline: $primary-color;
}

td a:hover {
    color: $primary-color;
    text-decoration: underline;
    text-underline: $primary-color;
}

.table__header{
    width: 100%;
    margin: .5rem auto;
    overflow-y: auto;
    border-radius: 0.425rem;
}

.table__header .input-group {
    width: 30%;
    padding: 0 .9rem;
    background-color: #ececec;
    border-radius: 2rem;

    display: flex;
    align-items: center; // Centraliza verticalmente os itens

    transition: all 0.3s ease-in-out;
}

.table__header .input-group:hover {
    width: 32%;
    background-color: #e2e5e6;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group i {
    font-size: 1.4rem;
    flex-shrink: 0; // Impede que o ícone diminua de tamanho
}

.table__header .input-group input {
    flex-grow: 1; // O input ocupa o espaço restante
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $quaternary-color;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 4rem;
}

.table-body {
    width: 100%;
    max-height: 63vh;
    height: fit-content;
    margin: 0 auto;
    overflow-y: auto;
    // overflow-x: auto; // Remova ou use apenas em telas pequenas
    border-radius: 0.4rem;
}

@media (max-width: 768px) {
    .table-body {
        overflow-x: auto; // Ative o scroll horizontal apenas em telas pequenas
    }
}

table {
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

thead th{
    background-color: $quaternary-color;
    color: #fff;
    font-weight: 400;
    top: 0;
    left: 0;
    white-space: nowrap;
}

thead th p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

thead th span.icon-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    font-weight: 100;
    cursor: pointer;
    margin-left: 0.5rem;
    vertical-align: middle;
}

thead th.active {
    background-color: $primary-color;
    color: $secondary-color;
}


thead th span.icon-arrow:hover {
    opacity: 0.9;
    background-color: $secondary-color;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    color: $primary-color;
}

tbody tr{
    background-color: $tertiary-color;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

tbody tr:nth-child(even){
    background-color: $secondary-color;
}

tbody tr:hover{
    background-color: $quintenary-color;
    cursor: pointer;
}

td, th{
    vertical-align: middle;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    padding: 0.5rem;
}

.status {
    margin: 0; // Remove margens padrão do <p>
    height: 100%; // Ocupa toda a altura do <td>
    white-space: nowrap;
    padding: 0 10px;
}

.status:hover {
    opacity: 0.9;
    cursor: pointer;
}

@media (max-width: 768px) {
    .table-container {
        grid-template-columns: 1fr; // Empilha as divs verticalmente
    }

    .table-body {
        overflow-x: auto; // Garante que a tabela seja rolável em telas pequenas
    }
}

#filter-by {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    appearance: none; /* Remove o estilo padrão do select */
    width: fit-content;
}

#filter-by option {
    background-color: #f8f9fa;
    color: #212529;
}