.content-info {
  width: 100%;
  min-height: 500px;
}

.item-info, .float-info, .item-graphic {
  margin: 10px;
  padding: 1rem;
}

.item-info {
  width: 75%;
  background-color: $quaternary-color;
  color: white;
  border-radius: 10px;
}

.float-info {
  width: 25%;
  float: left;
  background-color: $quintenary-color;
}

.item-graphic {
  max-width: 100%;
  background-color: #3dd5f3;
}

.form-labels{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.item-label {
    flex: 1 1 200px; /* Faz com que os itens se expandam igualmente */
    min-width: 150px; /* Largura mínima para evitar que fiquem muito pequenos */
    font-size: .8rem;
    display: flex;
    flex-direction: column;
}

.item-label input {
    width: 100%; /* Ocupa 100% da largura do contêiner */
    max-width: 100%;
    box-sizing: border-box; /* Inclui padding e border na largura */
}