.auth-container {
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: 0.425rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.bg-primary {
background: rgb(234,231,227);
background: linear-gradient(220deg, rgba(196,196,196,1) 0%, rgba(35,55,90,0.1) 100%);
}