//static/scss/pages/_dashboard.scss

.wrapper {
    display: flex;
    height: 100vh;
}

.top-size {
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.footer-color2 {
    background-color: $quaternary-color;
    color: #fff;
}