.item-label-filter{
    flex: 1 1 200px; /* Faz com que os itens se expandam igualmente */
    min-width: 150px; /* Largura mínima para evitar que fiquem muito pequenos */
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
}

.item-label-filter label{
     margin: 0 10px 0 0;
}

.item-label-filter input, .item-label-filter input[type="date"] {
    width: 100%; /* Ocupa 100% da largura do contêiner */
    max-width: 100%;
    box-sizing: border-box; /* Inclui padding e border na largura */
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    outline: none;
}

.item-label-filter input:focus,
.item-label-filter input[type="date"]:focus {
  border-color: #66afe9; /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Sombra ao focar */
}