<!-- templates/base.html -->
{% load static compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PlanWise{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- SCSS compilado -->
    {% compress css %}
        <link rel="stylesheet" href="{% static 'scss/styles.scss' %}" type="text/x-scss">
    {% endcompress %}
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Chart js -->
    <script src="{% static 'js/chart.umd.min.js' %}"></script>

    <!-- Logo -->
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
</head>
<body class="bg-light">
  <div class="wrapper">
    <aside id="sidebar">
        <div class="sideabar-content">
            <div class="top-size shadow-sm w-100">
                <div class="sidebar-logo">
                    <a href="/dashboard">PlanWise</a>
                </div>
                <button class="toggle-btn border-0" type="button">
                    <i id="icon" class='bx bx-chevrons-right'></i>
                </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/dashboard/" class="sidebar-link">
                        <i class='bx bx-home-circle'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/#" class="sidebar-link">
                        <i class='bx bxs-user-account'></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="http://localhost:8000/dashboard/expenses/" class="sidebar-link">
                        <i class='bx bxs-layer'></i>
                        <span>Spenses</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class='bx bxs-bug-alt'></i>
                        <span>Auth</span>
                    </a>
                    <ul class="sidebar-dropdown list-unstyled collapse" id="auth" data-bs-parent="#sidebar">
                        <li class="sidebar-item dropdown-item">
                            <a href="/#" class="sidebar-link">Login</a>
                        </li>
                        <li class="sidebar-item dropdown-item">
                            <a href="/#" class="sidebar-link">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="/#" class="sidebar-link">
                        <i class='bx bxs-bell-ring'></i>
                        <span>Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/#" class="sidebar-link">
                        <i class='bx bx-cog'></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer w-100">
                <a href="/#" class="sidebar-link">
                    <i class='bx bx-log-out'></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>

    </aside>
      <main class="main">
        <header class="top-size header-group shadow-sm">

            <!--<div class="input-group rounded w-50">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                <i class="bx bx-search"></i>
              </span>
            </div>-->
            <h1>PlanWise</h1>
        </header>



        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

    </main>
  </div>



    <footer class="p-4 d-flex justify-content-center footer-color2">
        <p>&copy; 2023 Meu Sítio ‘web’. Todos os direitos reservados.</p>
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>