<!--apps/dashboard/templates/view.html -->

{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block content %}
    <div class="mt-2 mb-0">
        <div class="hov-right w-fit">
            <a href="http://localhost:8000/dashboard/expenses/" class="btn-group-secondary">
                <i class="bx bx-arrow-back"></i>
                <span>Return</span>
            </a>
        </div>

    </div>

    <div class="container-50-50">
        <div class="div-quaternary h-100">
            <div class="d-flex align-items-center justify-content-between border-bottom border-secondary p-1 mb-2">
                <h5>{% block action-title %}{% endblock %}</h5>
                <div class="d-flex gap-3">
                    {% block action-btn %}{% endblock %}
                </div>
            </div>

            <div class="item-form">
                {% block item-form %}{% endblock %}
            </div>
        </div>
        {% block block-side %}
            <div class="div-light h-100 p-3">
                <div>
                    <div class="d-flex justify-content-between">
                        <h4 class="mb-3">Expenses forecast</h4>
                        <button type="button" id="forecast-filter-button" class="btn-group-primary">Filtrar</button>
                    </div>

                    <div class="filter-container">
                        <div class="filter-group">
                            <div class="filter-item">
                                <label for="forecast-start-date" class="filter-label">De</label>
                                <input type="date" id="forecast-start-date" class="filter-input" name="forecast-start-date" required>
                            </div>
                            <div class="filter-item">
                                <label for="forecast-end-date" class="filter-label">Até</label>
                                <input type="date" id="forecast-end-date" class="filter-input" name="forecast-end-date">
                            </div>
                        </div>

                        <div class="filter-group">
                            <div class="filter-item">
                                <label for="forecast-min-value" class="filter-label">Menor valor</label>
                                <input type="number" id="forecast-min-value" class="filter-input" name="forecast-min-value" placeholder="R$">
                            </div>
                            <div class="filter-item">
                                <label for="forecast-max-value" class="filter-label">Maior valor</label>
                                <input type="number" id="forecast-max-value" class="filter-input" name="forecast-max-value" placeholder="R$">
                            </div>
                        </div>
                    </div>
                </div>
                <canvas id="forecast-container" width="400" height="200"></canvas>
            </div>
        {% endblock %}
    </div>
{% endblock %}