<!--apps/dashboard/templates/view.html -->

{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block content %}
    <div class="p-4 bg-light shadow">
        <div class="mb-3">
            <a href="http://localhost:8000/dashboard/expenses/" class="btn-group-primary">
                <i class="bx bx-arrow-back"></i>
                <span>Return</span>
            </a>
        </div>
        <section class="content-info">
            <div class="d-flex justify-content-between">
                <div class="item-info">
                    <h5>{% block action-title %}{% endblock %}</h5>
                    <hr>
                    <div class="item-form">
                        {% block item-form %}{% endblock %}
                    </div>
                </div>
                <div class="float-info">
                    {% block  float-info%}{% endblock %}
                </div>
            </div>
            <div class="item-graphic">
                Grafics
            </div>
        </section>
    </div>
{% endblock %}