<!--apps/dashboard/templates/view.html -->

{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block content %}
    <div class="mt-2 mb-0">
        <div class="hov-right w-fit">
            <a href="http://localhost:8000/dashboard/expenses/" class="btn-group-secondary">
                <i class="bx bx-arrow-back"></i>
                <span>Return</span>
            </a>
        </div>

    </div>

    <div class="container-70-30">
        <div class="div-quaternary">
            <div class="d-flex align-items-center justify-content-between border-bottom border-secondary p-1 mb-2">
                <h5>{% block action-title %}{% endblock %}</h5>
                <div class="d-flex gap-3">
                    {% block action-btn %}{% endblock %}
                </div>
            </div>

            <div class="item-form">
                {% block item-form %}{% endblock %}
            </div>
        </div>
        {% block block-side %}{% endblock %}
    </div>
{% endblock %}