<!--apps/dashboard/templates/view.html -->

{% extends 'view_item.html' %}

{% block title %}View{% endblock %}

{% block return %}
    <div class="mb-2">
        <a href="http://localhost:8000/dashboard/expenses/" class="btn-group-primary">
            <i class="bx bx-arrow-back"></i>
            <span>Return</span>
        </a>
    </div>
{% endblock %}

{% block action-title %}Expense Informations{% endblock %}

{% block item-form %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-labels">
            <div class="item-label">
                <label for="name" class="form-label">id</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.id }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Expense</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.name }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Description</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.description }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Category</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.category }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Status</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.status }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Value</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.value }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Created At</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.created_at|date:'d/m/Y' }}">
            </div><div class="item-label">
                <label for="name" class="form-label">Last Update</label>
                <input type="text" id="name" name="name" readonly placeholder="{{ expense.updated_at|date:'d/m/Y' }}">
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn-group-danger me-3">Approve</button>
            <button type="submit" class="btn-group-secondary">Approve</button>
        </div>

    </form>
{%  endblock %}

{% block float-info %}{% endblock %}
