<!--apps/dashboard/templates/view.html -->

{% extends 'view_item.html' %}

{% load static %}

{% block title %}View{% endblock %}

{% block action-title %}Expense Informations{% endblock %}

{% block action-btn %}
    <div class="bg-quaternary-color font-size-18 pointer hov-red modal-btn">
        <i class="bx bx-trash"></i>
    </div>
    <a class="bg-quaternary-color font-size-18 pointer hov-black" href="http://localhost:8000/dashboard/expenses/update/{{ expense.id }}">
        <i class="bx bxs-edit"></i>
    </a>
{% endblock %}

{% block item-form %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-labels">
            <div class="item-label d-none">
                <label for="expense_id" class="form-label">id</label>
                <input type="number" id="expense_id" name="expense_id" readonly value="{{ expense.id }}">
            </div>
            <div class="item-label">
                <label for="expense" class="form-label">Expense</label>
                <input type="text" id="expense" name="expense" readonly value="{{ expense.name }}">
            </div>
            <div class="item-label">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" name="description" readonly value="{{ expense.description }}">
            </div>
            <div class="item-label">
                <label for="category" class="form-label">Category</label>
                <input type="text" id="category" name="category" readonly value="{{ expense.category }}">
            </div>
            <div class="item-label">
                <label for="status" class="form-label">Status</label>
                <input type="text" id="status" name="status" readonly value="{{ expense.status }}">
            </div>
            <div class="item-label">
                <label for="fixed_cost" class="form-label">Custo fixo</label>
                <select name="fixed_cost" id="fixed_cost" disabled>
                    <option value="{{ expense_request.fixed_cost }}" disabled selected>{{ expense_request.fixed_cost }}</option>
                    <option value=True>Prazo determinado</option>
                    <option value=False>Prazo indeterminado</option>
                </select>
            </div>
            <div class="item-label">
                <label for="fixed_term" class="form-label">Prazo determinado</label>
                <select name="fixed_term" id="fixed_term" disabled>
                    <option value={{ expense_request.fixed_term }} selected>{{ expense_request.fixed_term }}</option>
                    <option value=True>Prazo determinado</option>
                    <option value=False>Prazo indeterminado</option>
                </select>
            </div>
            <div class="item-label">
                <label for="from-date" class="form-label">Data de início</label>
                <input type="text" id="from-date" name="from-date" readonly value="{{ expense_request.from_date|date:'d/m/Y' }}">
            </div>
            <div class="item-label conditional-field" id="recurrency-field">
                <label for="recurrency" class="form-label">Recorrência</label>
                <select name="recurrency" id="recurrency">
                    <option value="{{ expense_request.recurrency.id }}" disabled selected>{{ expense_request.recurrency.name }}</option>
                    {% for recurrency in recurrencies %}
                        <option value="{{ recurrency.id }}">{{ recurrency.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="item-label conditional-field" id="total-value-field">
                <label for="total-value" class="form-label">Valor total</label>
                <input type="text" id="total-value" name="total-value" readonly value="{{ expense_request.total_value }}">
            </div>

            <div class="item-label conditional-field" id="installments-field">
                <label for="installments" class="form-label">Parcelas/Mêses</label>
                <input type="number" id="installments" name="installments" readonly value="{{ expense_request.installments }}">
            </div>
            <div class="item-label conditional-field" id="installments-value-field">
                <label for="installments-value" class="form-label">Valor da Mensalidade</label>
                <input type="text" id="installments-value" name="installments-value" readonly value="{{ expense_request.installments_value }}">
            </div>
            <div class="item-label">
                <label for="created_at" class="form-label">Created At</label>
                <input type="text" id="created_at" name="created_at" readonly value="{{ expense.created_at|date:'d/m/Y' }}">
            </div>
            <div class="item-label">
                <label for="last_update" class="form-label">Last Update</label>
                <input type="text" id="last_update" name="last_update" readonly value="{{ expense.updated_at|date:'d/m/Y' }}">
            </div>
        </div>
    {% if expense.status.id == 1 %}
        <hr>
        <div class="d-flex justify-content-end">
            <div class="btn-group-danger me-3 hov-shadow" id="reject"> Reject </div>
            <div class="btn-group-success hov-shadow" id="approve">Approve</div>
        </div>
    {% endif %}
    </form>
    <!-- Modal de Confirmação de Exclusão -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="d-flex justify-content-end"><span class="close">&times;</span></div>
            <h6 class="m-3">Tem certeza que deseja excluir esta despesa?</h6>
            <div class="modal-actions">
                <a id="confirmDelete" class="btn-group-danger me-2" href="http://localhost:8000/dashboard/expenses/delete/{{ expense.id }}">Excluir</a>
                <a id="cancelDelete" class="btn-group-primary">Cancelar</a>
            </div>
        </div>
    </div>
{%  endblock %}

{#{% block block-side %}#}
{#        <section class="table-body shadow rounded">#}
{#            <table>#}
{#                <thead>#}
{#                <tr>#}
{#                    <th scope="col"><p>Vencimento</p></th>#}
{#                    <th scope="col"><p>Valor</p></th>#}
{#                    <th scope="col"><p>Status</p></th>#}
{#                    <th scope="col"><p>Ação</p></th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for payable in payables %}#}
{#                    <tr>#}
{#                        <td>{{ payable.due_date|date:'d/m/Y' }}</td>#}
{#                        <td>{{ payable.amount }}</td>#}
{#                        <td>{{ payable.status }}</td>#}
{#                        <td class="d-flex justify-content-center gap-2">#}
{#                            <!--<div class="text-bg-warning d-flex justify-content-center p3 rounded">Editar</div>-->#}
{#                            <div class="text-bg-success d-flex justify-content-center p3 rounded">Pagar</div>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </section>#}
{#{% endblock %}#}

{% block float-info %}{% endblock %}

{% block scripts %}
    <script src="{% static 'js/create_expense.js'%}" defer></script>
    <script src="{% static 'js/modal.js' %}" defer></script>
    <script src="{% static 'js/expense_info.js' %}" defer></script>
    <script src="{% static 'js/charts/chart_forecast.js' %}" defer></script>
{% endblock %}