<!--apps/dashboard/templates/expenses.html-->
{% extends 'base.html' %}

{% load static %}

{% block title %}Spenses{% endblock %}


{% block content %}

    <div class="p-4 bg-light shadow">
        <div class="table__header">
            <h2>Expenses</h2>

            <div class="input-group bg-secondary-color">
                <input type="search" placeholder="Pesquisar...">
                <i class="bx bx-search"></i>
            </div>

            <a href="http://localhost:8000/dashboard/expenses/create/" class="btn-group-primary">
                <i class="bx bx-plus"></i>
                <span>New Expense</span>
            </a>
        </div>

        <hr>
        <!-- Tabela para exibir as despesas -->
        <section class="table-body">
            <table>
                <thead>
                    <tr>
                        <th scope="col"><p>Nome</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                        <th scope="col"><p>Descrição</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                        <th scope="col"><p>Categoria</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                        <th scope="col"><p>Status</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                        <th scope="col"><p>Valor</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                        <th scope="col"><p>Data de criação</p> <span class="icon-arrow"><i class='bx bx-sort-alt-2'></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td><a href="http://localhost:8000/dashboard/expenses/{{ expense.id }}">{{ expense.description }}</a></td>
                            <td>{{ expense.category }}</td>
                            <td><p class="status p-1 rounded text-center {% if expense.status.name == 'Waiting for approval' %}text-bg-warning {% elif expense.status.name == 'Active' %}text-bg-success {% elif expense.status.name == 'Rejected' %}text-bg-danger {% elif expense.status.name == 'Closed' %} text-bg-secondary{% endif %}">{{ expense.status }}</p></td>
                            <td>R${{ expense.value|floatformat:2 }}</td>
                            <td>{{ expense.created_at }}</td>
                        </tr>

                    {% endfor %}
                </tbody>

            </table>
        </section>

    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/search_table.js' %}" defer></script>
{% endblock %}