<!--apps/dashboard/templates/view.html -->

{% extends 'view_item.html' %}

{% load static %}

{% block title %}View{% endblock %}

{% block action-title %}Expense Informations{% endblock %}

{% block action-btn %}
    <div class="bg-quaternary-color font-size-18 pointer hov-red">
        <i class="bx bx-trash"></i>
    </div>
    <div class="bg-quaternary-color font-size-18 pointer hov-black">
        <i class="bx bxs-edit"></i>
    </div>
{% endblock %}

{% block item-form %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-labels">
            <div class="item-label">
                <label for="name" class="form-label">Expense</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.name }}">
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Description</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.description }}">
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Category</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.category }}">
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Status</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.status }}">
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Created At</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.created_at|date:'d/m/Y' }}">
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Last Update</label>
                <input type="text" id="name" name="name" readonly value="{{ expense.updated_at|date:'d/m/Y' }}">
            </div>
            <div class="item-label">
                <label for="fixed_cost" class="form-label">Custo fixo</label>
                <select name="fixed_cost" id="fixed_cost" required disabled>
                    <option value="{{ expense_request.fixed_cost }}" disabled selected>{{ expense_request.fixed_cost }}</option>
                    <option value=True>É custo fixo</option>
                    <option value=False>É custo variável</option>
                </select>
            </div>
            <div class="item-label">
                <label for="fixed_term" class="form-label">Prazo determinado</label>
                <select name="fixed_term" id="fixed_term" required disabled>
                    <option value="{{ expense_request.fixed_term }}" disabled selected>{{ expense_request.fixed_term }}</option>
                    <option value=True>Prazo determinado</option>
                    <option value=False>Prazo indeterminado</option>
                </select>
            </div>
            <div class="item-label">
                <label for="from-date" class="form-label">Data de início</label>
                <input type="date" id="from-date" name="from-date" required readonly value="{{ expense_request.from_date|date:'d/m/Y' }}">
            </div>
            <div class="item-label conditional-field" id="recurrency-field">
                <label for="recurrency" class="form-label">Recorrência</label>
                <select name="recurrency" id="recurrency" disabled>
                    <option value="{{ expense_request.recurrency.name }}" disabled selected>{{ expense_request.recurrency.name }}</option>
                    {% for recurrency in recurrencies %}
                        <option value="{{ recurrency.id }}">{{ recurrency.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="item-label">
                <label for="name" class="form-label">Total Value</label>
                <input type="text" id="name" name="name" readonly value="{{ expense_request.total_value }}">
            </div>

            <div class="item-label conditional-field" id="installments-field">
                <label for="installments" class="form-label">Parcelas/Mêses</label>
                <input type="text" id="installments" name="installments" readonly value="{{ expense_request.installments }}">
            </div>
            <div class="item-label conditional-field" id="installments-value-field">
                <label for="installments-value" class="form-label">Valor da Mensalidade</label>
                <input type="text" id="installments-value" name="installments-value" readonly value="{{ expense_request.installments_value}}">
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn-group-danger me-3 hov-shadow"> Reject </button>
            <button type="submit" class="btn-group-secondary hov-shadow">Approve</button>
        </div>

    </form>
    <!-- Modal de Confirmação de Exclusão -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <div class="d-flex justify-content-end"><span class="close">&times;</span></div>
            <h6 class="m-3">Tem certeza que deseja excluir esta despesa?</h6>
            <div class="modal-actions">
                <button id="confirmDelete" class="btn-group-danger">Excluir</button>
                <button id="cancelDelete" class="btn-group-primary">Cancelar</button>
            </div>
        </div>
    </div>
{%  endblock %}

{% block float-info %}{% endblock %}

{% block scripts %}

    <script src="{% static 'js/view_expense.js'%}" defer></script>
    <script>
        // Passa a URL de exclusão para o JavaScript
        const deleteUrl = "{% url 'delete_expense' expense.id %}";

        document.addEventListener('DOMContentLoaded', function () {
            const deleteIcon = document.querySelector('.bx-trash');
            const modal = document.getElementById('deleteModal');
            const closeModal = document.querySelector('.close');
            const cancelDelete = document.getElementById('cancelDelete');
            const confirmDelete = document.getElementById('confirmDelete');

            deleteIcon.addEventListener('click', function () {
                modal.style.display = 'block';
            });

            closeModal.addEventListener('click', function () {
                modal.style.display = 'none';
            });

            cancelDelete.addEventListener('click', function () {
                modal.style.display = 'none';
            });

            window.addEventListener('click', function (event) {
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            });

            confirmDelete.addEventListener('click', function () {
                // Usa a URL de exclusão passada como variável
                window.location.href = deleteUrl;
            });
        });
    </script>
{% endblock %}